.body{
  background-image: url(https://image.freepik.com/darmowe-wektory/pusty-pokoj-z-bialymi-sciana-z-cegiel-w-studiu_107791-1349.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-width: 800px;
  
}
.head__photo{
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: auto auto 10px auto;
  
}
.section{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  width: 500px;
  border: 1px solid;
  padding: 10px;
  margin: auto auto 10px auto;
  border-radius: 20px;
  background-color: rgb(115, 75, 94 );
  
}


